@import url(./sucess.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

:root {
  --purple-200: #9a7bd1;
  --purple-500: #6b36c8;
  --purple-800: #441f88;

  --gray-200: #cccccc;
  --gray-400: #505861;

  --black-800: #000000;

  --white: #f9f9f9;

  --blue: #0320c7;

  --green: #00ffa2;
}

html {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  background-color: var(--gray-200);
  color: var(--black-800);
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}

button,
a {
  cursor: pointer;
}

.botao {
  text-align: center;
  padding: 12px 32px;
  background: none;
  border-radius: 10px;
  font-weight: 700;
}

.botao:hover {
  color: var(--white);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilização - Seção Header */

.menu_container {
  height: 80px;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--black-800);
  border-bottom: 1px solid var(--white);
  filter: opacity(0.9);
  z-index: 1;
}

.menu_container a {
  color: var(--white);
  font-weight: 700;
}

.menu_container a:hover {
  color: var(--green);
}

.menu_content {
  max-width: 1120px;
  padding: 0 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu_list {
  list-style: none;
  text-align: center;
}

.menu_list li {
  margin-left: 1rem;
}

/* Estilização da Seção Home */

.home_container {
  max-width: 1120px;
  margin: 16px auto;
  padding: 0 1rem;
  height: calc(100vh - 100px);
}

.home_container p,
h1,
h4 {
  text-align: center;
  font-size: 1rem;
}

.home_container h1 {
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: 700;
}

.home_container h4 {
  font-weight: 700;
}

.home_container p {
  margin: 1rem 0;
}

.home_container .botao {
  width: 40%;
  color: var(--white);
  background-color: var(--black-800);
}

.home_container .botao:hover {
  background-color: var(--green);
  color: var(--black-800);
}

.home_content {
  width: 50vw;
  flex-direction: column;
}

.home_content img {
  display: flex;
  width: 75%;
  animation: jump 1s infinite ease-in-out;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Estilização da Seção About */

.about_container {
  max-width: 1120px;
  margin: 16px auto;
  padding: 0 1rem;
  height: calc(100vh - 350px);
}

.about_container p,
h1 {
  text-align: center;
  font-size: 1rem;
}

.about_container h1 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
}

.about_container h1 {
  font-weight: 700;
}

.about_container p {
  margin: 1.2rem 2rem;
  width: 90%;
  max-width: none;
  text-align: justify;
  line-height: 1.7; /* Aumenta o espaçamento para melhor leitura */
  word-spacing: normal;
  hyphens: auto; /* Permite divisão correta de palavras */
}

.about_container .botao {
  width: 21%;
  background-color: var(--black-800);
  color: var(--white);
}

.about_container .botao:hover {
  background-color: var(--green);
  color: var(--black-800);
}

.about_content {
  width: 50vw;
  flex-direction: column;
}

.about_imagem {
  display: flex;
  width: 25%;
  height: auto;
  margin: 1rem 0;
  border-radius: 100%;
  border: 5px solid var(--white);
}

.github_infos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  gap: 1rem;
}

.github_infos a {
  margin-right: 3rem;
}

.github_infos p {
  display: inline; /* Ou inline-block */
}

.sociais_container {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0 0 0;
}

.sociais_container img {
  max-width: 6rem;
  height: auto;
  padding: 0 10px;
  margin: 0.2rem; /* Espaçamento dos Icones*/
}

/* Estilização da Seção Contato*/
.contato_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  max-width: 1120px;
  margin: 4rem auto 2rem;
  padding: 0;
}

.contato_content h4 {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 900;
}

.contato_content p {
  font-size: 1rem;
  margin: 1rem 2rem;
  text-align: justify;
  display: block;
}

.contato_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 4rem 0 0 0;
}

.sociais_container {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0 0 0;
}

.sociais_container img {
  max-width: 6rem;
  height: auto;
  padding: 0 10px;
  margin: 0.2rem; /* Espaçamento dos Icones*/
}

.sociais_container a:hover {
  filter: brightness(0) saturate(100%) invert(70%) sepia(20%) saturate(5000%)
    hue-rotate(120deg) brightness(105%) contrast(95%);
}

/* Formulario */

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 7rem 0 0 0;
  padding: 1.25rem;
  border: none;
}

form label {
  font-size: 1.1rem;
  padding: 0.9rem;
  font-weight: 500;
}

form input,
textarea {
  border-radius: 2rem;
  padding: 0.5rem;
  border: 2px solid var(--white);
}

.botao {
  border-radius: 2rem;
  padding: 0.8rem;
  margin: 1rem;
  background-color: var(--black-800);
  border: none;
}

.botao {
  font-size: 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
}

.botao:hover {
  background-color: var(--blue);
}

/* Rodapé */

.rodapé {
  height: 82px;
  width: 100%;
  background-color: var(--black-800);
  color: var(--white);
}

/* Responsividade */
@media (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  footer {
    margin: auto;
    font-size: 0.8rem;
  }

  .menu_container {
    height: auto;
    padding: 1rem 0;
  }

  .menu_content {
    justify-content: center;
    max-width: 100%;
  }

  #titulo a {
    font-size: 1.75rem;
  }

  .menu_list {
    display: none;
  }

  .home_container {
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    margin-top: 2rem;
  }

  .home_content {
    width: 100%;
  }

  .home_content h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  .home_content .botao {
    width: 80%;
  }

  .home_content img {
    width: 100%;
  }

  #home_texto {
    margin-top: 0.5rem;
  }

  #home_imagem {
    margin-bottom: 0;
  }

  .about_container {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 3rem;
  }

  .about_container img {
    width: 60%;
  }

  .about_container p {
    width: 160%; /* Mantém o tamanho desejado */
    max-width: none;
    text-align: justify;
    line-height: 1.5; /* Melhora o espaçamento entre linhas */
    word-spacing: 1px; /* Reduz espaçamento entre palavras */
    letter-spacing: 0.5px; /* Garante boa legibilidade */
    hyphens: auto; /* Quebra palavras corretamente */
    overflow-wrap: break-word; /* Evita espaçamentos irregulares */
    text-justify: inter-word; /* Melhora a distribuição da justificação */
    margin-bottom: 2rem;
  }

  .sobre_container h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  .github_infos {
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .github_infos p {
    display: none;
  }

  .github_infos .botao {
    width: 80%;
  }

  .icones_sociais img {
    width: 150px;
    height: 150px;
  }

  .contato_container {
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    padding: 0 1rem;
  }

  .contato_content {
    width: 100%;
  }

  .contato_content h4 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  .contato_content p {
    margin: 1rem;
    font-size: 1rem;
    line-height: 1.5; /* Melhora o espaçamento entre linhas */
    word-spacing: normal; /* Redefine o espaçamento de palavras para o valor padrão */
    letter-spacing: 1px; /* Ajuste sutil para melhorar a legibilidade */
    text-align: justify; /* Melhor para evitar espaçamento irregular em telas pequenas */
    hyphens: auto; /* Quebra palavras corretamente */
    overflow-wrap: break-word; /* Evita quebras de palavras irregulares */
  }

  form {
    margin: 1rem 0 0 0;
    padding: 1rem;
  }

  footer {
    margin: 0;
    height: auto;
    width: 100%;
    padding: 1rem 0;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
  }

  .menu_container {
    height: auto;
    padding: 1.5rem 0;
  }

  .home_container {
    flex-direction: column-reverse;
    width: 80%;
    height: auto;
    margin-top: 2rem;
  }

  .home_content {
    width: 100%;
  }

  .home_content img {
    width: 100%;
  }

  .about_container {
    flex-direction: column;
    width: 80%;
    height: auto;
    margin-top: 3rem;
  }

  .about_container p {
    width: 150%;
  }

  .about_container img {
    width: 50%;
  }

  .github_infos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .github_infos p {
    display: none;
  }

  .github_stats {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
  }

  .github_infos .botao {
    width: 100%;
    margin-top: 1rem;
  }

  .contato_container {
    grid-template-columns: 1fr;
    width: 80%;
    height: auto;
    margin-top: 2rem;
    padding: 0 1rem;
  }

  .icones_sociais img {
    width: 150px;
    height: 150px;
  }

  footer {
    margin: 0;
    height: auto;
    width: 100%;
    padding: 1.5rem 0;
  }
}
